<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216911535660-segf34hj5taas58cec1t8qj6mndur6qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216911535660-segf34hj5taas58cec1t8qj6mndur6qo</string>
	<key>API_KEY</key>
	<string>AIzaSyDTYH95s3DpOBDRajUc-85kV-OVfNBDPoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>216911535660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ShotaNakaguchi.LotteryAlarm</string>
	<key>PROJECT_ID</key>
	<string>lotteryalarm-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>lotteryalarm-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216911535660:ios:7eac889af656186ca0fb89</string>
	<key>DATABASE_URL</key>
	<string>https://lotteryalarm-ios.firebaseio.com</string>
</dict>
</plist>